{
    "env": {
        "browser": true
    },
    "extends": [ "airbnb-base" ],
    "rules": {
        "linebreak-style": ["error", "windows"],
        "import/extensions": [0, { "<js>": "always" }]
      }
}